<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="shipping_rate" type="Deco\Rates\Plugin\Shipping" sortOrder="10"/>
    </type>
    <type name="PagBank\PaymentMagento\Model\Api\ConsultPSInstallments">
        <plugin name="pagbank_installments_plugin" type="Deco\Rates\Plugin\ConsultPSInstallmentsGetPagBankInstallmentsPlugin" sortOrder="40" />
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="deco_rates_product_repository_plugin" type="Deco\Rates\Plugin\BeforeSaveProduct"/>
    </type>
</config>