<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="decorates" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Rates</label>
            <tab>sales</tab>
            <resource>Deco_Rates::rates_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to shipping and product prices (Inverse calculation).</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="rate_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Numerical Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to shipping.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="product_rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to product prices (Direct calculation). This value is replaced by the Product Fee, if defined, located on the product creation/editing page.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="unalterable_product_rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unalterable Product Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to product prices (Direct calculation).</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="installments_fees" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <depends>
                    <field id="decorates/general/enable">1</field>
                </depends>
                <label>Installments Fees</label>
                <field id="installments_fees_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Installments Fees Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fee_0" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>1x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_1" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>2x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_2" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>3x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_3" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>4x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_4" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>5x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_5" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>6x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_6" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>7x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_7" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>8x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_8" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>9x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_9" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>10x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_10" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>11x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_11" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>12x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_12" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>13x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_13" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>14x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_14" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>15x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_15" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>16x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>

                <field id="fee_16" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>17x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
                <field id="fee_17" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>18x</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="decorates/installments_fees/installments_fees_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>