<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="decorates" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Rates</label>
            <tab>sales</tab>
            <resource>Deco_Rates::rates_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to shipping and product prices (Inverse calculation).</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="product_rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to product prices (Direct calculation). This value is replaced by the Product Fee, if defined, located on the product creation/editing page.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="unalterable_product_rate_percentage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unalterable Product Percentage Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to product prices (Direct calculation).</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="rate_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Numerical Rate</label>
                    <validate>validate-number</validate>
                    <comment>Applied to shipping.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>